
.man-header {
    margin: 8px 0px 30px;
}
.man-heading {
    margin: 0px;
}

.man-body {
    padding-right: 12px;
}

.btn-link {
    text-decoration: none;
}

.table-user {
    width: 100%;
    overflow-x: hidden;
}
td {
    padding: 0px 6px;
}
.td-shorter {
    width: 66px;
}
.td-normal {
    width: 220px;
}
.td-center {
    text-align: center;
}
.td-right {
    text-align: right;
}